In [4]:
import pandas as pd

In [107]:
df = pd.read_csv('Pandas ETL.csv')

In [11]:
df.head()

,TransactionID,CustomerID,Item,Category,PurchaseTimestamp
0,1,101,Phone Case,Electronics,2025-01-01 10:05:00
1,1,101,Screen Protector,Electronics,2025-01-01 10:07:00
2,1,101,Wireless Charger,Electronics,2025-01-01 10:10:00
3,2,102,Yoga Mat,Fitness,2025-01-02 15:20:00
4,2,102,Water Bottle,Fitness,2025-01-02 15:25:00

In [14]:
df.tail(3)

,TransactionID,CustomerID,Item,Category,PurchaseTimestamp
18,7,107,Journal,Stationery,2025-01-07 20:25:00
19,8,108,Phone Case,Electronics,2025-01-08 14:50:00
20,8,108,Travel Adapter,Electronics,2025-01-08 14:55:00

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TransactionID      21 non-null     int64
 1   CustomerID         21 non-null     int64
 2   Item               21 non-null     object
 3   Category           21 non-null     object
 4   PurchaseTimestamp  21 non-null     object
dtypes: int64(2), object(3)
memory usage: 972.0+ bytes

In [18]:
df.describe()

       TransactionID  CustomerID
count      21.000000   21.000000
mean        4.380952  104.380952
std         2.355338    2.355338
min         1.000000  101.000000
25%         2.000000  102.000000
50%         4.000000  104.000000
75%         6.000000  106.000000
max         8.000000  108.000000

In [29]:
l1 = df[['CustomerID','Item','TransactionID']]
l1

    CustomerID                Item  TransactionID
0          101          Phone Case              1
1          101    Screen Protector              1
2          101    Wireless Charger              1
3          102            Yoga Mat              2
4          102        Water Bottle              2
5          102      Protein Powder              2
6          103          Phone Case              3
7          103          Headphones              3
8          104    Wireless Charger              4
9          104    Portable Speaker              4
10         104      Travel Adapter              4
11         105            Yoga Mat              5
12         105    Resistance Bands              5
13         106        Coffee Maker              6
14         106        Coffee Beans              6
15         106                 Mug              6
16         107      Book - Fiction              7
17         107  Book - Non-Fiction              7
18         107             Journal              7
19         108          Phone Case              8
20         108      Travel Adapter              8

In [33]:
df.loc[0:5]

,TransactionID,CustomerID,Item,Category,PurchaseTimestamp
0,1,101,Phone Case,Electronics,2025-01-01 10:05:00
1,1,101,Screen Protector,Electronics,2025-01-01 10:07:00
2,1,101,Wireless Charger,Electronics,2025-01-01 10:10:00
3,2,102,Yoga Mat,Fitness,2025-01-02 15:20:00
4,2,102,Water Bottle,Fitness,2025-01-02 15:25:00
5,2,102,Protein Powder,Fitness,2025-01-02 15:30:00

In [43]:
df.iloc[0:9:2]

,TransactionID,CustomerID,Item,Category,PurchaseTimestamp
0,1,101,Phone Case,Electronics,2025-01-01 10:05:00
2,1,101,Wireless Charger,Electronics,2025-01-01 10:10:00
4,2,102,Water Bottle,Fitness,2025-01-02 15:25:00
6,3,103,Phone Case,Electronics,2025-01-03 09:10:00
8,4,104,Wireless Charger,Electronics,2025-01-04 12:40:00

In [45]:
type(df.loc[5, ['Category', 'Item']])

pandas.core.series.Series

In [52]:
df.loc[4:, ['Category', 'Item']]

       Category                Item
4       Fitness        Water Bottle
5       Fitness      Protein Powder
6   Electronics          Phone Case
7   Electronics          Headphones
8   Electronics    Wireless Charger
9   Electronics    Portable Speaker
10  Electronics      Travel Adapter
11      Fitness            Yoga Mat
12      Fitness    Resistance Bands
13      Kitchen        Coffee Maker
14      Grocery        Coffee Beans
15      Kitchen                 Mug
16        Books      Book - Fiction
17        Books  Book - Non-Fiction
18   Stationery             Journal
19  Electronics          Phone Case
20  Electronics      Travel Adapter

In [54]:
df['Category'] == 'Fitness'

0     False
1     False
2     False
3      True
4      True
5      True
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
Name: Category, dtype: bool

In [56]:
df['CustomerID'] == 101

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
Name: CustomerID, dtype: bool

In [61]:
df[(df['CustomerID'] == 102) & (df['Category'] == 'Fitness')] 
# comparing two columns

   TransactionID  CustomerID            Item Category    PurchaseTimestamp
3              2         102        Yoga Mat  Fitness  2025-01-02 15:20:00
4              2         102    Water Bottle  Fitness  2025-01-02 15:25:00
5              2         102  Protein Powder  Fitness  2025-01-02 15:30:00

In [84]:
df['CheckID'] = 'New ' 
# new column added

In [85]:
df.head()

,TransactionID,CustomerID,Item,Category,PurchaseTimestamp,CheckID,Combined
0,1,101,Phone Case,Electronics,2025-01-01 10:05:00,New,NewElectronics
1,1,101,Screen Protector,Electronics,2025-01-01 10:07:00,New,NewElectronics
2,1,101,Wireless Charger,Electronics,2025-01-01 10:10:00,New,NewElectronics
3,2,102,Yoga Mat,Fitness,2025-01-02 15:20:00,New,NewFitness
4,2,102,Water Bottle,Fitness,2025-01-02 15:25:00,New,NewFitness

In [87]:
df['Combined'] = df['CheckID'].astype(str) + df['Category'].astype(str)

df

,TransactionID,CustomerID,Item,Category,PurchaseTimestamp,CheckID,Combined
0,1,101,Phone Case,Electronics,2025-01-01 10:05:00,New,New Electronics
1,1,101,Screen Protector,Electronics,2025-01-01 10:07:00,New,New Electronics
2,1,101,Wireless Charger,Electronics,2025-01-01 10:10:00,New,New Electronics
3,2,102,Yoga Mat,Fitness,2025-01-02 15:20:00,New,New Fitness
4,2,102,Water Bottle,Fitness,2025-01-02 15:25:00,New,New Fitness
5,2,102,Protein Powder,Fitness,2025-01-02 15:30:00,New,New Fitness
6,3,103,Phone Case,Electronics,2025-01-03 09:10:00,New,New Electronics
7,3,103,Headphones,Electronics,2025-01-03 09:15:00,New,New Electronics
8,4,104,Wireless Charger,Electronics,2025-01-04 12:40:00,New,New Electronics
9,4,104,Portable Speaker,Electronics,2025-01-04 12:45:00,New,New Electronics
10,4,104,Travel Adapter,Electronics,2025-01-04 12:50:00,New,New Electronics
11,5,105,Yoga Mat,Fitness,2025-01-05 08:30:00,New,New Fitness
12,5,105,Resistance Bands,Fitness,2025-01-05 08:35:00,New,New Fitness
13,6,106,Coffee Maker,Kitchen,2025-01-06 18:00:00,New,New Kitchen
14,6,106,Coffee Beans,Grocery,2025-01-06 18:05:00,New,New Grocery
15,6,106,Mug,Kitchen,2025-01-06 18:10:00,New,New Kitchen
16,7,107,Book - Fiction,Books,2025-01-07 20:15:00,New,New Books
17,7,107,Book - Non-Fiction,Books,2025-01-07 20:20:00,New,New Books
18,7,107,Journal,Stationery,2025-01-07 20:25:00,New,New Stationery
19,8,108,Phone Case,Electronics,2025-01-08 14:50:00,New,New Electronics
20,8,108,Travel Adapter,Electronics,2025-01-08 14:55:00,New,New Electronics

In [91]:
df.loc[1, 'Item'] = '😂'
df.head()

,TransactionID,CustomerID,Item,Category,PurchaseTimestamp,CheckID,Combined,item
0,1,101,Phone Case,Electronics,2025-01-01 10:05:00,New,New Electronics,NaN
1,1,101,😂,Electronics,2025-01-01 10:07:00,New,New Electronics,😂
2,1,101,Wireless Charger,Electronics,2025-01-01 10:10:00,New,New Electronics,NaN
3,2,102,Yoga Mat,Fitness,2025-01-02 15:20:00,New,New Fitness,NaN
4,2,102,Water Bottle,Fitness,2025-01-02 15:25:00,New,New Fitness,NaN

In [ ]:
df.loc[5:15 , 'Category'] = '🗑️' # modified some data
df.head(15)

,TransactionID,CustomerID,Item,Category,PurchaseTimestamp,CheckID,Combined,item
0,1,101,Phone Case,Electronics,2025-01-01 10:05:00,New,New Electronics,NaN
1,1,101,😂,Electronics,2025-01-01 10:07:00,New,New Electronics,😂
2,1,101,Wireless Charger,Electronics,2025-01-01 10:10:00,New,New Electronics,NaN
3,2,102,Yoga Mat,Fitness,2025-01-02 15:20:00,New,New Fitness,NaN
4,2,102,Water Bottle,Fitness,2025-01-02 15:25:00,New,New Fitness,NaN
5,2,102,Protein Powder,🗑️,2025-01-02 15:30:00,New,New Fitness,NaN
6,3,103,Phone Case,🗑️,2025-01-03 09:10:00,New,New Electronics,NaN
7,3,103,Headphones,🗑️,2025-01-03 09:15:00,New,New Electronics,NaN
8,4,104,Wireless Charger,🗑️,2025-01-04 12:40:00,New,New Electronics,NaN
9,4,104,Portable Speaker,🗑️,2025-01-04 12:45:00,New,New Electronics,NaN
10,4,104,Travel Adapter,🗑️,2025-01-04 12:50:00,New,New Electronics,NaN
11,5,105,Yoga Mat,🗑️,2025-01-05 08:30:00,New,New Fitness,NaN
12,5,105,Resistance Bands,🗑️,2025-01-05 08:35:00,New,New Fitness,NaN
13,6,106,Coffee Maker,🗑️,2025-01-06 18:00:00,New,New Kitchen,NaN
14,6,106,Coffee Beans,🗑️,2025-01-06 18:05:00,New,New Grocery,NaN

In [100]:
# updating multiple columns and rows
df.loc[5:15, ['Category', 'Store']] = ['☝️','👇']
df.head(15)

,TransactionID,CustomerID,Item,Category,PurchaseTimestamp,CheckID,Combined,item,Store
0,1,101,Phone Case,Electronics,2025-01-01 10:05:00,New,New Electronics,NaN,NaN
1,1,101,😂,Electronics,2025-01-01 10:07:00,New,New Electronics,😂,NaN
2,1,101,Wireless Charger,Electronics,2025-01-01 10:10:00,New,New Electronics,NaN,NaN
3,2,102,Yoga Mat,Fitness,2025-01-02 15:20:00,New,New Fitness,NaN,NaN
4,2,102,Water Bottle,Fitness,2025-01-02 15:25:00,New,New Fitness,NaN,NaN
5,2,102,Protein Powder,☝️,2025-01-02 15:30:00,New,New Fitness,NaN,👇
6,3,103,Phone Case,☝️,2025-01-03 09:10:00,New,New Electronics,NaN,👇
7,3,103,Headphones,☝️,2025-01-03 09:15:00,New,New Electronics,NaN,👇
8,4,104,Wireless Charger,☝️,2025-01-04 12:40:00,New,New Electronics,NaN,👇
9,4,104,Portable Speaker,☝️,2025-01-04 12:45:00,New,New Electronics,NaN,👇
10,4,104,Travel Adapter,☝️,2025-01-04 12:50:00,New,New Electronics,NaN,👇
11,5,105,Yoga Mat,☝️,2025-01-05 08:30:00,New,New Fitness,NaN,👇
12,5,105,Resistance Bands,☝️,2025-01-05 08:35:00,New,New Fitness,NaN,👇
13,6,106,Coffee Maker,☝️,2025-01-06 18:00:00,New,New Kitchen,NaN,👇
14,6,106,Coffee Beans,☝️,2025-01-06 18:05:00,New,New Grocery,NaN,👇

In [109]:
df.groupby(['Category']).sum()

,TransactionID,CustomerID,Item,PurchaseTimestamp
Category,,,,
Books,14,214,Book - FictionBook - Non-Fiction,2025-01-07 20:15:002025-01-07 20:20:00
Electronics,37,1037,Phone CaseScreen ProtectorWireless ChargerPhon...,2025-01-01 10:05:002025-01-01 10:07:002025-01-...
Fitness,16,516,Yoga MatWater BottleProtein PowderYoga MatResi...,2025-01-02 15:20:002025-01-02 15:25:002025-01-...
Grocery,6,106,Coffee Beans,2025-01-06 18:05:00
Kitchen,12,212,Coffee MakerMug,2025-01-06 18:00:002025-01-06 18:10:00
Stationery,7,107,Journal,2025-01-07 20:25:00